{{ define "main" }}

<div class="content center-grid">
  <h1 class="section-title">{{ .Title }}</h1>

  <div class="intro center-column">
    {{ .Content | emojify }}
  </div>

  <div class="flex-row_outer ">
    <!-- Technical Content -->
    <div class="left-column">
      <ul class="projects-list flex-row">
        {{ $techPages := where .Pages "Params.type" "==" "tech" }}
        {{ range $index, $page := sort $techPages "Params.priority" "asc"}}
          <li class="projects-item">
            <h3>{{ .Title }}</h3>
            <div class='{{ .Title }} project-img' data-text="{{ .Content | emojify }}">
              <img src="{{ .Params.Image }}" />
            </div>
            <div class="modal" id="modal">
              <div class="modal-content" id="modal-content">
                <button class="learn-more-btn" id="learn-more-btn">Learn More</button>
                <button class="close-btn" id="close-btn">Close</button>
                <p id="modal-text"></p>
              </div>
            </div>
          </li>
          {{ if and (eq (mod (add $index 1) 2) 0) (ne $index (sub (len $techPages) 1)) }}
            </ul>
            <ul class="projects-list flex-row">
          {{ end }}
        {{ end }}
      </ul>
      <h2 class="centered-section">Technical Contribution</h2>

    </div>

    <!-- Logo -->
    <div class="logo">
      <img src="{{ .Params.Logo }}" />
    </div>

    <!-- Educational Content -->
    <div class="right-column">
      <ul class="projects-list flex-row">
        {{ $eduPages := where .Pages "Params.type" "eq" "edu" }}
        {{ range $index, $page := sort $eduPages "Params.priority" "asc"}}
          <li class="projects-item">
            <h3>{{ .Title }}</h3>
            <div class="{{ .Title }} project-img" data-text="{{ .Content | emojify }}">
              <img src="{{ .Params.Image }}" />
            </div>
            <div class="modal" id="modal">
              <div class="modal-content" id="modal-content">
                <button class="learn-more-btn" id="learn-more-btn">Learn More</button>
                <button class="close-btn" id="close-btn">Close</button>
                <p id="modal-text"></p>
              </div>
            </div>
          </li>
          {{ if and (eq (mod (add $index 1) 2) 0) (ne $index (sub (len $eduPages) 1)) }}
            </ul>
            <ul class="projects-list flex-row">
          {{ end }}
        {{ end }}
      </ul>
      <h2 class="centered-section">Educational Contribution</h2>

    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function setupModal(projectName, learnMoreLink) {
      var projectImg = document.querySelector(`.${projectName}`);
      var modal = document.getElementById('modal');
      var modalText = document.getElementById('modal-text');
      var learnMoreBtn = document.getElementById('learn-more-btn');
      var closeBtn = document.getElementById('close-btn');

      projectImg.addEventListener('click', function () {
        var dataText = projectImg.getAttribute('data-text');
        modalText.textContent = dataText;

        learnMoreBtn.addEventListener('click', function () {
          window.location.href = learnMoreLink;
        });

        modal.style.display = 'flex';
      });

      closeBtn.addEventListener('click', function () {
        modal.style.display = 'none';
      });

      modal.addEventListener('click', function (event) {
        if (event.target === modal) {
          modal.style.display = 'none';
        }
      });
    }

    setupModal('Apisnoop', 'https://apisnoop.cncf.io');
    setupModal('Ublue', 'fedora');
    setupModal('Conformance', 'https://www.cncf.io/training/certification/software-conformance/');
    setupModal('Infra', 'https://kubernetes.io/blog/2020/05/27/an-introduction-to-the-k8s-infrastructure-working-group/');
    setupModal('Events', ''); //gallery 
    setupModal('Mentoring', ''); //contact us page maybe
    setupModal('Resource', ''); //link to github repo for bootcamp content
    setupModal('Educational', ''); //contact us or repo 

  });
</script>

{{ end }}
