{{ define "main" }}

<div class="content center-grid">
  <h1 class="section-title">{{ .Title }}</h1>

  <div class="intro center-column">
    {{ .Content | emojify }}
  </div>

  <div class="flex-row_outer ">
    <!-- Technical Content -->
    <div class="left-column">
      <ul class="projects-list flex-row">
        {{ $techPages := where .Pages "Params.type" "==" "tech" }}
        {{ range $index, $page := sort $techPages "Params.priority" "asc"}}
          <li class="projects-item">
            <h3>{{ .Title }}</h3>
            <div class="{{ .Title }} project-img" data-title=" {{ .Title | emojify}}" data-text="{{ .Content | emojify }}" data-link="{{ index .Params.elink }}" onclick="Modal(this)">
              <img src={{ .Params.Image }} />
            </div>
            
          </li>
          {{ if and (eq (mod (add $index 1) 2) 0) (ne $index (sub (len $techPages) 1)) }}
            </ul>
            <ul class="projects-list flex-row">
          {{ end }}
        {{ end }}
      </ul>
      <h2 class="centered-section">Technical Contribution</h2>

    </div>

    <!-- Logo -->
    <div class="logo">
      <img src="{{ .Params.Logo }}" />
    </div>

    <!-- Educational Content -->
    <div class="right-column">
      <ul class="projects-list flex-row">
        {{ $eduPages := where .Pages "Params.type" "eq" "edu" }}
        {{ range $index, $page := sort $eduPages "Params.priority" "asc"}}
          <li class="projects-item">
            <h3>{{ .Title }}</h3>
            <div class="{{ .Title }} project-img" data-title=" {{ .Title | emojify}}" data-text="{{ .Content | emojify }}" data-elink="{{ .Params.elink | emojify }}" onclick="Modal(this)">
              <img src={{ .Params.Image }} />
            </div>
           
          </li>
          {{ if and (eq (mod (add $index 1) 2) 0) (ne $index (sub (len $eduPages) 1)) }}
            </ul>
            <ul class="projects-list flex-row">
          {{ end }}
        {{ end }}
      </ul>
      <h2 class="centered-section">Educational Contribution</h2>
      <div class="modal" id="modal">
        <div class="modal-content" id="modal-content">
          <h3 id="modal-title"></h3>
          <p id="modal-text"></p>
          <button class="learn-more-btn" id="learn-more-btn">Learn More</button>
          <button class="close-btn" id="close-btn">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
learnMoreBtn.addEventListener('click', function (e) {
    e.preventDefault();
    var link = document.getElementById('modal-content').getAttribute('data-link');
    window.open(link, '_blank');
});

function Modal(projectName) {
    var dataTitle = projectName.getAttribute('data-title')
    var modal = document.getElementById('modal');
    var modalText = document.getElementById('modal-text');
    var modalTitle = document.getElementById('modal-title');
    var learnMoreBtn = document.getElementById('learn-more-btn');
    var learnMoreLink = projectName.getAttribute('data-link')
    var closeBtn = document.getElementById('close-btn');
    var dataText = projectName.getAttribute('data-text');
    
    modalText.textContent = dataText;
    modalTitle.textContent = dataTitle
    if (learnMoreLink === null) {
        learnMoreBtn.classList.add('no-cursor')
    } else {
        learnMoreBtn.classList.remove('no-cursor')
    }

    learnMoreBtn.onclick = function () {
        var link = projectName.getAttribute('data-link');
        window.open(link, '_blank');
        modal.style.display = 'none';
    };

    modal.style.display = 'flex';

    closeBtn.addEventListener('click', function () {
        modal.style.display = 'none';
    });

    modal.addEventListener('click', function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    });
}

</script>

{{ end }}
