
<footer>
  <div class="footer__left">
  <b class='footer_logo'><a href="/">ii</a></b>
  </div>
  <div class='footer__right'>
  <ul class="contact-details">
 
    <li>   
      <a href="https://github.com/ii">
        <div id="github" class="icon">
            <i class="fab fa-github"></i>
        </div>
        Github
      </a>
    </li>
    <li>
      <a href="https://gitlab.com/ii">
        <div class="icon">
          <i class="fab fa-gitlab"></i>
        </div>
        Gitlab
      </a>
    </li>
    <li>
      <a href="mailto:hello@ii.nz">
        <div class="icon">
          <i class="fas fa-envelope"></i>
      </div>
      Email
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/99165471/" target="_blank" rel="noopener noreferrer">
        <div class="icon">
          <i class="fab fa-linkedin"></i>
        </div>
        LinkedIn
      </a>
    </li>
    
  </ul>
</footer>